

*{
    margin: 0;
    padding: 0;
    

}

main{
    min-height: 75vh;
}
.boxes{
    gap:1rem;
    margin:1rem;
}

.box{
    padding:1rem; 
    border-radius: 10px;
    width:300px;
    min-height: 230px;
    border:1px solid #2B3467;
    cursor: pointer;
    background-color: #2B3467;
    color: white;
    transition: 0.5s ease-in-out;
}
.box:hover{
    background-color: white;
    color: #2B3467;
    border:1px solid #2B3467;

}
.box h2{
    margin:10px;
    /* transition: 0.5s ease-in-out; */

}



.home{
    min-height:75vh;
    width:60%;
    gap:1rem;

}

.btns{
    width: 50%;
}
.home p{
    font-size: 1.2rem;
    width: 80%;
}


.course{
    width:50%;
}
.course ul{
    width: 40%;
    margin: 0px 6rem;

}
.hero{
    padding:2rem;
}
.left{
    width:60%;
}
.right{
    width:40%;
}
.left p{
    padding-bottom:2rem;
}
.course ul li{
    margin:5px 0px;
    padding:5px 0px;
    font-weight: 900;
    cursor: pointer;
    color: #2B3467;
}
.course ul li:hover{
    color: black;
}
.right img{
    width: 100%;
    border-radius: 10%;
}
